body {
    background-color: #111111;
    color: #b05a24;
    margin: 0;
    padding: 0;
    display: grid;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2em; /* Adjusted size */
    margin: 20px 0;
    grid-column: 1 / -1;
}

.announcement {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #740fe1;
    font-size: 1.8em;
    margin-top: 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #740fe1;
}

p strong {
    color: #6b6a6a;
}

hr {
    border: none;
    border-top: 1px solid #e507c7;
    margin: 20px 0;
    grid-column: 1 / -1; /* Span across both columns */
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
