body{
    padding-top: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.friend-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: black;
}

.finished-info-container {
    background-color: #1f202a;

    margin: 0 auto !important;
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.challenge-quiz-btn {
    margin: 0 auto;
    display: block;
}