body {
    font-family: 'Modak', sans-serif;
    background-color: #050c1b;
    color: black;
    margin: 0;
    padding-top: 90px;
}

h1 {
    color: #ffffff;
    font-size: 2em; /* Adjusted size */
}

.announcements {
}

.announcement {
    background-color: #1f202a;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    margin-top: 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #740fe1;
}

p strong {
    color: #6b6a6a;
}

.announcementsButton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.announcementsButton:hover {
    background-color: #0056b3;
}

.achievements-button {
    position: relative;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.achievements-button i {
    font-size: 1.2em;
}

.achievements-button .badge {
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 2px 6px;
    font-size: 0.6em;
}
