body {
    font-family: 'Modak', sans-serif;
    background-color: #111111;
    color: #b05a24;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-bottom: 1px solid #ddd;
    grid-column: 1 / -1;
}

h1 {
    text-align: left;
    color: #ffffff;
    font-size: 2em; /* Adjusted size */
    margin: 20px 0;
    padding-left: 50px; /* Added padding to align text to the left */
    grid-column: 1 / -1;
}

.announcements {
    grid-column: 1 / 2;
    padding: 20px;
}

.announcement {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #740fe1;
    font-size: 1.8em;
    margin-top: 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #740fe1;
}

p strong {
    color: #6b6a6a;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.achievements-button {
    position: relative;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.achievements-button i {
    font-size: 1.2em;
}

.achievements-button .badge {
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 2px 6px;
    font-size: 0.6em;
}
